h1 {
        font-family: 'Lobster', cursive;
        font-weight: 500;
        line-height: 1.1;
        color: #003366;
 }
 
 h2{
	 
	 
        font-family: 'Lobster', cursive;
        font-weight: 500;
        line-height: 1.1;
        color: #48ca3b;
	 
	 
 }
 
 body{
	 
	 background-color:"blue";
 }